@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.body{
    font-family: 'Ubuntu', sans-serif;
}


/* Main Blog Container */
.blog-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fdf6f0;
}
  
  /* Left Side of the Blog */
.blog-left {
    width: 68%; 
    margin-left: 2%;
    height: 100vh;
    overflow-y: scroll;
}
  
  /* Right Side of the Blog */
.blog-right {
    width: 32%; 
    display: flex;
    margin-right: 0px;
    flex-direction: column;
}
.blog-right-upper {
  margin-right: 50px;
  margin-left: 0px;
}
  
  /* Upper Section of the Right Side */
.blog-right-upper {
    
}
  
  /* Bottom Section of the Right Side */
.blog-right-bottom {

}
  