@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Main container */
body {
    font-family: "Ubuntu", sans-serif; /* Apply font-family to the entire page */
    font-style: normal;
}
/* Main container */
.religous-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
/* Left side containing the image */
.religous-left {
    flex: 1;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 50%;
}
  
.relgious-img {
    width: 90%; 
    height: auto;
    user-select: none;
}
  

.religous-right {
    flex: 1; /* Take up remaining space */
    padding: 0 20px; 
    margin-right: 40px;
    
}
  
/* Upper section of the right side */
.rel-right-upper {
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
}
.rel-right-upper h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 30px; /* Adjust margin to move the h1 element towards the top */
    color: orange; /* Set the color to orange */
}
.rel-right-upper h1::before {
    content: "•"; /* Bullet point character */
    font-size: 40px;

    color: orange; /* Color of the bullet point */
    margin-right: 10px; /* Adjust spacing between bullet point and text */
}
.rel-right-upper h3 {
    font-size: 40px; 
    font-weight: bold; 
    color: #0e2e50; 
    margin-bottom: 30px;
}
.rel-right-upper p {
    font-size: 25px;
    color: #70778b;
    margin-bottom: 45px;
}
  
  
  /* Bottom section of the right side */
  .rel-right-bottom {
    margin-top: 20px;
  }
  .rel-right-bottom p {
    font-size: 25px;
    color: #70778b;
    margin-bottom: 15px;
  }
  
/********************************** Button styling * **********************************/
.rel-right-bottom .contact-us {
    text-align: left;
    margin-bottom: 25px;
}
  
.contact-us button {
    border-radius: 5px; 
}

.waw-button {
    padding:10px 45px;
    font-size: 15px;
    background-color: rgb(142, 80, 4); /* Updated background color */
    color: white;
    border: none;
    border-radius: 0 4px 4px 0; /* Curved right corners for the search button */
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    transition: background-color 0.7s, background-position 0.7s;
    background-image: linear-gradient(to right, transparent 50%, rgb(234, 146, 23) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.waw-button:hover {
    background-position: left bottom;
    color: white;
}
  